{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style type="text/css">
  .bg-grey{
    background: linear-gradient(rgba(20, 20, 20, .5),rgba(20, 20, 20, .5)),url("{% static "img/ytu1.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      height: 680px;
  }
</style>
{% endblock %}
{% block title %}Change you password{% endblock %}
{% block content %}

<div class="container-fluid bg-grey">

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="my-form">
	<h1 class="text-center">Change your password</h1>
	<p>Use the form below to change your password.</p>
<form action="." method="post" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">{{ form.old_password.label_tag }}</label>
    <div class="col-sm-6">
      {{ form.old_password }}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">{{ form.new_password1.label_tag }}</label>
    <div class="col-sm-6">
      {{ form.new_password1 }}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">{{ form.new_password2.label_tag }}</label>
    <div class="col-sm-6">
      {{ form.new_password2 }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <button type="submit" class="btn my-btn"> Change </button>
    </div>
  </div>
  {% csrf_token %}
</form>
</div>
</div>
<div class="col-sm-3"></div>
</div>

</div>
{% endblock %}
