{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Reset your password{% endblock %}
{% block style %}
<style type="text/css">
  .bg-grey{
    background: linear-gradient(rgba(93, 40, 26, .3),rgba(7, 66, 60, .3)),url("{% static "img/ytu11.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      height: 680px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid bg-grey">
<div class="my-form">
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered
the address you registered with.</p>
</div>
</div>
{% endblock %}