{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block style %}
<style type="text/css">
  .bg-grey{
    background: linear-gradient(rgba(93, 40, 26, .3),rgba(7, 66, 60, .3)),url("{% static "img/ytu11.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      height: 680px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid bg-grey">
<div class="my-form">
<h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
</div>
</div>
{% endblock %}