{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style type="text/css">
  .bg-grey{
    background: linear-gradient(rgba(93, 40, 26, .3),rgba(7, 66, 60, .3)),url("{% static "img/ytu11.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      height: 680px;
  }
</style>
{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container-fluid bg-grey">

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
<div class="my-form">
<h1 class="text-center">Forgot password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post" class="form-horizontal" role="form">
 <div class="form-group">
    <label class="control-label col-sm-4" for="email">{{ form.email.label_tag }}</label>
    <div class="col-sm-6">
      {{ form.email }}
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <button type="submit" class="btn my-btn">Send</button>
    </div>
  </div>
  {% csrf_token %}
</form>
<br>

</div>
</div>
<div class="col-sm-4"></div>
</div>
</div>
{% endblock %}